---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from "../components/HeroSection.astro";
import Benefits from "../components/BenefitsSection.astro";
import ProductSection from "../components/ProductSection.astro";
import OurProductSection from '../components/OurProductSection.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Hero />
		<Benefits />
		<ProductSection />
		<OurProductSection />
	</main>
	<Footer />
</Layout>

<style>
	
</style>
