---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from "../components/Hero.astro";
import Benefits from "../components/Benefits.astro";
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Hero />
		<Benefits />
	</main>
	<Footer />
</Layout>

<style>
	
</style>
