<section class="benefits section">
  <div class="benefits__container container grid">
    <div class="benefits__data">
      <div class="benefits__titles">
        <h3 class="section__subtitle">Benefits</h3>
        <h2 class="benefits__title">
          Benefits when using<br />
          our services
        </h2>
      </div>

      <div class="benefits__description">
        <p>
          Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim
          placerat nisi, adipiscing mauris non purus parturient.
        </p>
      </div>
    </div>

    <div class="benefits__content">
      <article class="benefits__card">
        <div class="benefits__card-icon">
          <img src="/images/benefits-1.svg" />
        </div>

        <h3 class="benefits__card-title">Many Choices</h3>

        <p class="benefits__card-decription">
          Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim
          placerat nisi, adipiscing mauris non.
        </p>
      </article>

      <article class="benefits__card">
        <div class="benefits__card-icon">
          <img src="/images/benefits-2.svg" />
        </div>

        <h3 class="benefits__card-title">Fast and On Time</h3>

        <p class="benefits__card-decription">
          Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim
          placerat nisi, adipiscing mauris non.
        </p>
      </article>

      <article class="benefits__card">
        <div class="benefits__card-icon">
          <img src="/images/benefits-3.svg" />
        </div>

        <h3 class="benefits__card-title">Affordable Price</h3>

        <p class="benefits__card-decription">
          Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim
          placerat nisi, adipiscing mauris non.
        </p>
      </article>
    </div>
  </div>
</section>

<style>
  .benefits__container {
    row-gap: 1.875rem;
  }

  .benefits__titles {
    margin-bottom: 1rem;
  }

  .benefits__title {
    font-size: var(--h2-font-size);
    line-height: 130%;
    color: var(--title-color);
  }

  .benefits__description p {
    line-height: 180%;
    font-family: var(--font-medium);
  }

  .benefits__content {
    display: grid;
    justify-content: center;
    row-gap: 2rem;
  }

  .benefits__card {
    background-color: var(--body-color);
    box-shadow: 0px 4px 100px 0px rgba(175, 173, 181, 0.1);
    padding: 1rem 1rem 1.125rem;
  }

  .benefits__card-icon img {
    width: 24px;
  }

  .benefits__card-icon {
    display: grid;
    place-items: center;
    background-color: var(--container-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-bottom: 0.875rem;
  }

  .benefits__card-title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: 0.375rem;
  }

  .benefits__card-decription {
    line-height: 180%;
    font-family: var(--font-medium);
  }
</style>
