<section class="ourproduct section">
  <div class="ourproduct__container container grid">
    <div class="ourproduct__data grid">
      <h3 class="section__subtitle">Our Product</h3>
      <h2 class="section__title">
        Crafted by talented and<br />
        high quality material
      </h2>

      <p class="ourproduct__description">
        Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim
        placerat nisi, adipiscing mauris non purus parturient. morbi fermentum,
        vivamus et accumsan dui tincidunt pulvinar
      </p>

      <a href="#" class="button ourproduct__button">Learn More</a>

      <div class="ourproduct__data-img">
        <img src="/images/our-product-1.png" />
      </div>
    </div>

    <div class="ourproduct__image">
      <img src="/images/our-product-2.png" />
    </div>
  </div>
</section>

<style>
  .ourproduct__container {
    row-gap: 1.25rem;
  }

  .ourproduct__description {
    line-height: 180%;
    margin-bottom: 1.875rem;
  }

  .ourproduct__button {
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: center;
  }

  .ourproduct__data-img,
  .ourproduct__image {
    height: 200px;
    width: 310px;
    justify-self: center;
  }

  .ourproduct__data-img img,
  .ourproduct__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
</style>
