<section class="product section">
  <div class="product__container container grid">
    <div class="product__data">
      <h3 class="section__subtitle">Product</h3>
      <h2 class="section__title">Our Popular product</h2>

      <p class="product__description">
        Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim
        placerat nisi, adipiscing mauris non purus parturient.
      </p>
    </div>

    <div class="product__content">
      <article class="product__card">
        <div class="product__card-image">
          <img src="/images/product-1.png" />
        </div>

        <span class="product__card-categorie">Chair</span>

        <h3 class="product__card-title">White Aesthetic Chair</h3>

        <p class="product__card-description">Combination of wood and wool</p>

        <h3 class="product__card-price">$63.47</h3>
      </article>

      <article class="product__card">
        <div class="product__card-image">
          <img src="/images/product-2.png" />
        </div>

        <span class="product__card-categorie">Chair</span>

        <h3 class="product__card-title">White Aesthetic Chair</h3>

        <p class="product__card-description">Combination of wood and wool</p>

        <h3 class="product__card-price">$63.47</h3>
      </article>

      <article class="product__card">
        <div class="product__card-image">
          <img src="/images/product-3.png" />
        </div>

        <span class="product__card-categorie">Chair</span>

        <h3 class="product__card-title">White Aesthetic Chair</h3>

        <p class="product__card-description">Combination of wood and wool</p>

        <h3 class="product__card-price">$63.47</h3>
      </article>

      <article class="product__card">
        <div class="product__card-image">
          <img src="/images/product-4.png" />
        </div>

        <span class="product__card-categorie">Chair</span>

        <h3 class="product__card-title">White Aesthetic Chair</h3>

        <p class="product__card-description">Combination of wood and wool</p>

        <h3 class="product__card-price">$63.47</h3>
      </article>
    </div>
  </div>
</section>

<style>
  .product__data {
    text-align: center;
  }

  .product__container {
    row-gap: 1.875rem;
  }

  .product__description {
    line-height: 180%;
    font-family: var(--font-medium);
  }

  .product__card-image {
    width: 220px;
    height: 194px;
    margin-bottom: 0.875rem;
  }

  .product__card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .product__card-categorie {
    margin-bottom: 0.375rem;
    line-height: 180%;
    font-family: var(--font-bold);
    font-size: var(--small-font-size);
  }

  .product__card-title {
    color: var(--title-color);
    line-height: 145%;
    margin-bottom: 0.25rem;
  }

  .product__card-description {
    line-height: 180%;
    margin-bottom: 0.75rem;
  }

  .product__card-price {
    color: var(--title-color);
    font-size: var(--h3-font-size);
    line-height: 145%;
  }
</style>
